dialog {
    background: rgba(255, 255, 255, 0.22);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(6px);
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 50vh;
    width: 30vw;
}

.close-button {
    display: flex;
    align-self: flex-end;
    margin: 10px;
    cursor: pointer;
}

